<div class="StoryLover-container" fxLayout="row" fxLayoutAlign="center center">
  
  <mat-card class="box">
    <button mat-raised-button color="accent" style="top: 0;"routerLink="">Back</button>
<br/><br/>
        <mat-card-title style="color: crimson;">Sign In Form</mat-card-title>
        <br/>
        <form class="example-form" [formGroup]="myForm" (ngSubmit)="signinform()" >
        <mat-card-content>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>EMAIL</mat-label>
              <input matInput placeholder="Enter a Email-id" formControlName="EmailId">
              <mat-error *ngIf="errorHandling('EmailId', 'required')">
                You must provide a  <strong>emailid</strong>
             </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>PASSWORD</mat-label>
              <input matInput placeholder="Enter a Password" formControlName="Password" >
              <mat-error *ngIf="errorHandling('Password', 'required')">
                You must provide a  <strong>password</strong>
             </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button style="width: 130px;" mat-raised-button color="warn"[disabled]="myForm.invalid" > LOGIN <mat-spinner class="load-spinner" diameter="20" mode="indeterminate" *ngIf="loading" color="primary"></mat-spinner></button>
      
        </mat-card-actions>
      </form>
        
       Don't have a account click signup? <a routerLink="/Signup">Signup</a>
        <mat-card-footer>
          <mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>
   

