
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.box {
    max-width: 400px;
    justify-content: center !important;
    align-items: center !important;
  }

  .StoryLover-container {
    height: 100%;
    background-color: #252c66;
  }

  .box {
    position: relative;
    opacity: 1;
    float: left;
    width: 100%;
    border-radius: 10px;
    z-index: 5;
    max-width: 330px;
  }
  
  
  .StoryLover-container .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  .load-spinner{
    
    left:100px;
    top:14%;
    position: absolute;
  }