<div fxLayout="row" fxLayoutGap="15px"  style="margin: 20px;">
<mat-card class="mat-elevation-z12"   class="example-card">
<mat-card-title>Hello to the Dashboard </mat-card-title>
<mat-card-content>
    <img src="../assets/images/dashboard.jpg" height="250" width="450"/>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button routerLink="Allstories" color="accent">Let's start Reading</button></mat-card-actions> 
</mat-card>
<mat-card class="mat-elevation-z8"   class="example-card">
    
    <mat-card-content>
        <img src="../assets/images/dashb.jpg" height="350" width="450"/>
    </mat-card-content>
  
      
    </mat-card>
</div>