
<mat-toolbar color="primary"  class="mat-elevation-z12">
  
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Dashboard</span>
  <span class="example-spacer"></span>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
  <input type="text" class="form-control" placeholder="search.."/> 
    </div></div>
</mat-toolbar>
 
 <mat-sidenav-container class="example-container" >
    <mat-sidenav class="dashboard-sidenav"  #sidenav mode="side" opened="opened" >
 
      <mat-nav-list class="pt-0"><br><br/>
        <mat-list-item role="listitem">
          <img src="assets/images/superman2.jpg" class="storylover-profilepicture" /></mat-list-item>

       <br/> <br/> <mat-list-item role="listitem" style="color:rgb(255, 255, 255)"><div style="text-align: center;">Welcome</div></mat-list-item><br>
          
          <a mat-list-item routerLink="Dashboard" class="nav-border text-theme-primary" routerLinkActive="nav-active" id="navlink" [routerLinkActiveOptions]="{exact:true}"><mat-icon>dashboard</mat-icon> Dashboard</a>
         
          <a mat-list-item routerLink="Settings"  class="nav-border text-theme-primary" routerLinkActive="nav-active" id="navlink"><mat-icon>account_circle</mat-icon> Account</a>
       
        <a mat-list-item routerLink="mystories" class="nav-border text-theme-primary" routerLinkActive="nav-active" id="navlink">
          <mat-icon>favorite</mat-icon>My Stories</a>
          
         <a mat-list-item routerLink="Allstories" class="nav-border text-theme-primary" routerLinkActive="nav-active" id="navlink">
        	<mat-icon>redeem</mat-icon>All Stories
        </a>
         
           <a mat-list-item  routerLink=""  id="navlink">
        	<mat-icon>launch</mat-icon>logout
        </a>
      </mat-nav-list> 
    </mat-sidenav>
    <mat-sidenav-content>
      
      <div class="example-events">
       
        <mat-progress-bar
  *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>