.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-container {
      position: relative;
      height: 100%;
      
    }
    .main-mat-toolbar{
      top:0;
      z-index: 99;
    }
    .example-events {
     
      overflow: auto;
    
    }
    .dashboard-sidenav{
        width: 200px;
        justify-content: center !important;
        align-items: center !important;
        background-color: rgb(88, 16, 170);
    }
    .storylover-profilepicture {
      width: 120px;
      height:120px;
      border-radius: 50%;
      top:30 !important;
      border:2px solid white;
     
      
      
    }
    #navlink{
      color: rgb(255, 255, 255);
      text-decoration: none;
      list-style: none;
     
    }
    .nav-active{
      color: rgb(252, 108, 25) !important;
      background-color: transparent;
    }