<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33.3%" *ngFor="let num of  [1,2,3,4,5,6,7,8,9,10]">
   <mat-card class="mat-elevation-z4">
     <mat-card-header>
       <mat-card-title>Story {{num}}</mat-card-title>
     </mat-card-header>
     <img mat-card-image  src="assets/images/featured.jpg">
     <mat-card-content>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo molestias 
       </p>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button><mat-icon>thumb_up</mat-icon>LIKE</button>
       <button mat-button>SHARE</button>
     </mat-card-actions>
   </mat-card>
 </div>
  </div>
    
 </div>
 



