
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}
.box {
    max-width: 400px;
    justify-content: center !important;
    align-items: center !important;
  }

  .StoryLover-container {
    height: 100%;
    background-color: #580169;
  }

  .box {
    position: relative;
    opacity: 1;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    z-index: 5;
    max-width: 330px;
  }
  
  .box.back {
    opacity: .8;
    z-index: -1;
  }
  
  .box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
  
  .StoryLover-container .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }

  .load-spinner{
    
    left:100px;
    top:14%;
    position: absolute;
  }