<div class="StoryLover-container" fxLayout="row" fxLayoutAlign="center center">
 
  <mat-card class="box">
        <mat-card-title style="color: crimson;">Sign up Form</mat-card-title>
        <br/>
        <form class="example-form" [formGroup]="myForm" (ngSubmit)="SignupPost()" novalidate>
        <mat-card-content>
       
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>USERNAME</mat-label>
              <input matInput placeholder="Enter a username" formControlName="Username" >
              <mat-error *ngIf="errorHandling('Username', 'required')">
                You must provide a<strong>username</strong>
             </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>EMAIL</mat-label>
              <input matInput placeholder="Enter a Email-id" formControlName="EmailId">
              <mat-error *ngIf="errorHandling('EmailId', 'required')">
                You must enter<strong>Email id</strong>
             </mat-error>
          
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>PASSWORD</mat-label>
              <input matInput placeholder="Enter a Password" formControlName="Password">
              <mat-error *ngIf="errorHandling('Password', 'required')">
                You must enter<strong>password</strong>
             </mat-error>
            </mat-form-field>
            
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" style="width: 130px;" type="submit" [disabled]="myForm.invalid" >REGISTER<mat-spinner class="load-spinner" diameter="20" mode="indeterminate" *ngIf="loading" color="warn"></mat-spinner></button>
     
        </mat-card-actions>
      </form>
        
        Already have account click signin? <a routerLink="Signin">Signin</a>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate" *ngIf="loading" ></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>
   
