

<mat-tab-group color="warn" mat-align-tabs="center" backgroundColor="primary" animationDuration="0ms">
  <mat-tab label="Profile Information" class="center"> 
     <div class="align-content">
      <div  >
        <h1 style="position: relative;">PLEASE FILL TO COMPLETE PROFILE</h1>
        <form class="example-form" [formGroup]="profileInfo" (ngSubmit)="saveProfile()">
           <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="FirstName">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="LastName">
            </mat-form-field></td>
          </tr></table>
        
          <p>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email-id</mat-label>
                <input matInput formControlName="Email">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Mobile number</mat-label>
                <input matInput placeholder="ex.999887766" formControlName="MobileNumber">
              </mat-form-field></td>
            </tr></table>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>DOB</mat-label>
                <input  type="date"  matInput formControlName="Dob">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput placeholder="USA" formControlName="Country">
              </mat-form-field></td>
            </tr></table>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="City">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>State</mat-label>
                <input matInput placeholder="Ex.Delhi" formControlName="State">
              </mat-form-field></td>
            </tr></table>
            <p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Ex. 100 Main St" formControlName="Address1"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Address 2</mat-label>
              <textarea matInput formControlName="Address2"></textarea>
            </mat-form-field>
          </p>
            <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Bio</mat-label>
            <textarea matInput formControlName="Bio"></textarea>
          </mat-form-field>
        </p>
              
            <button mat-raised-button class="example-full-width" type="submit"color="primary">Save details</button>
        </form>
        
       </div>
      </div> 
    </mat-tab>
  <mat-tab label="Profile Image" class="center"> 
    <div class="align-content">
     
    <label class="hoverable" for="fileInput" (mouseenter)="onMouseEnter()">
      <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      <div class="hover-text">
        Set Display picture
        <h4 class="success-message" *ngIf="uploaded"> Uploaded Successfully </h4>
        </div>
      <div class="background"></div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
  
  </div>
  </mat-tab>
  <mat-tab label="Change password" class="align-content" class="center">
    <div class="align-content">
      <div>
        <h2>CHANGE YOUR PASSWORD</h2>
        <form class="example-form">
          <p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Current password</mat-label>
              <input class="example-full-width" matInput placeholder="current password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>New password</mat-label>
              <input class="example-full-width" matInput placeholder="New password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input class="example-full-width" matInput placeholder="Confirm password">
            </mat-form-field>
          </p>
          <button mat-raised-button class="example-full-width" type="submit"color="primary">Save password</button>

        </form>
      </div>
    </div> 
    </mat-tab>
</mat-tab-group>
